@using Common.Domain.Entities

@inject NavigationManager _navigationManager

<div class="flex flex-col space-y-3 border-b md:border-none border-gray-300 pb-3 pt-5 md:pt-0">
    <div class="h-48 xl:h-60">
        <div class="flex flex-col justify-between cursor-pointer rounded-lg p-3 bg-cover bg-no-repeat bg-center h-full" style="background-image: url('@Article.FeaturedImageUri?.ToString()')">
            <AuthorSummary
                ProfilePhotoUri="@Article.Author.Person.ProfilePhotoUri"
                ProfilePhotoAlt="@GetFullName"
                AuthorName="@GetFullName"
                AuthorOccupation="@Article.Author.Person.Occupation?.Name"/>

            <div class="pb-2 md:pb-0">
                <CategoryAndDate Categories="@categories" Date="@Article.CreatedOn"/>
            </div>
        </div>
    </div>

    <h3 class="md:transition md:duration-700 cursor-pointer md:hover:text-blue-700 text-lg font-black leading-tight">
        <Link Url="@NavigateToArticle" DisplayText="@Article.Title"/>
    </h3>

    <p class="text-gray-500 text-sm leading-relaxed">
        @Article.Excerpt
        <span class="text-sm text-blue-700">
            <Link Url="@NavigateToArticle" DisplayText="Read more..."/>
        </span>
    </p>
</div>

@code {

    private IEnumerable<(string Name, string Slug)>? categories;
    private Func<string> NavigateToArticle = () => string.Empty;

    [Parameter, EditorRequired]
    public Article Article { get; init; } = new();

    protected override void OnParametersSet()
    {
        categories = Article.Categories.Select(c => (c.Name, c.Slug));
        NavigateToArticle = () => $"articles/{Article.Slug}";
    }

    private string GetFullName => $"{Article.Author.Person.FirstName} {Article.Author.Person.LastName}";
}