<div style="height: @Size.ToString()px; width: @Size.ToString()px">
    @if (Src is not null)
    {
        <img src="@Src" alt="@Alt" class="@Classes"/>
    }
    else
    {
        <img src="https://preview.colorlib.com/theme/magdesign/images/xperson_1.jpg.pagespeed.ic.Zebptmx_f8.webp" alt="@Alt" class="@Classes"/>
    }
</div>


@code {
    private const string Classes = $"align-middle rounded-full h-full";
    
    [Parameter]
    public Uri? Src { get; set; }

    [Parameter]
    public string? Alt { get; set; }
    
    [Parameter, EditorRequired]
    public int Size { get; set; }
}